/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cool-faqs {
	padding: 2px;

	& details {
		background-color: var(--answer-background-color);
		margin: var(--faq-margin) 0;

		& summary {
			padding: 6px;
			color: var(--question-text-color);
			background: var(--question-background-color);
			cursor: pointer;
		}

		& .faq-content {
			padding: 16px;
			color: var(--answer-text-color);

			& p {
				margin: 0 0 10px;
			}
			& p:last-child {
				margin-bottom: 0;
			}
		}
	}
}
